In [1]:
import os

In [2]:
from mysql_connect import mysql_crud

mysql_connector = mysql_crud.mysql_operation(
    host="localhost",
    user="root",
    password="Seaflux@1"
)

In [4]:
mysql_connector.create_connection()

Connected to MySQL database

In [5]:
# database_name = "demo"
mysql_connector.create_database('demo_1')

Connected to MySQL server
Database 'demo_1' created or already exists.
MySQL connection is closed.

In [6]:
create_table_sql = """
CREATE TABLE students (
    name VARCHAR(100) NOT NULL,
    age VARCHAR(100) NOT NULL
);
"""

In [7]:
database_name='demo_1'

In [8]:
mysql_connector.create_table(create_table_sql,database_name)

Connected to MySQL database: demo_1
Table created successfully.
MySQL connection is closed.

True

In [9]:
# Example usage of one insert_record
record = {
    'name': 'John Doe',
    'age': '50'
}
mysql_connector.insert_single_record(record=record,table_name="students", database_name='demo_1')

Single record inserted into students.

In [10]:
# Example usage of many insert_record
record =[
    {'name': 'Abhisek','age': '55'},
    {'name': 'Amitabh','age':'81'},
    {'name':'Ashwaria','age':'50'}    
]
mysql_connector.insert_multiple_records(records=record, table_name="students", database_name='demo_1')

Multiple records inserted into students.

In [11]:
datafile = '/home/seaflux/Documents/mysql_crud_test/students.csv'
mysql_connector.bulk_insert(datafile=datafile, table_name='students',database_name='demo_1',unique_field='name'
)

Bulk insert completed.

In [12]:
# Find all records in the 'students' table
database_name = 'demo_1'
records = mysql_connector.find(table_name="students",database_name=database_name)
print(records)

[{'name': 'John Doe', 'age': '50'}, {'name': 'Abhisek', 'age': '55'}, {'name': 'Amitabh', 'age': '81'}, {'name': 'Ashwaria', 'age': '50'}, {'name': 'anmol', 'age': '12'}, {'name': 'anudep', 'age': '25'}, {'name': 'minali', 'age': '28'}]

In [13]:
# Find all records in the 'students' table
database_name = 'demo_1'
records = mysql_connector.find(table_name="students",database_name=database_name)
print(records)

[{'name': 'John Doe', 'age': '50'}, {'name': 'Abhisek', 'age': '55'}, {'name': 'Amitabh', 'age': '81'}, {'name': 'Ashwaria', 'age': '50'}, {'name': 'anmol', 'age': '12'}, {'name': 'anudep', 'age': '25'}, {'name': 'minali', 'age': '28'}]

In [14]:
# Find records where the 'name' is 'Alice' and 'age' is 30
query = {'name': 'minali', 'age': 28}
records = mysql_connector.find(query=query, table_name="students",database_name=database_name)
print(records)

[{'name': 'minali', 'age': '28'}]

In [15]:
query = {'name': 'minali'}
new_values = {'age': 30}
database_name='demo_1'

mysql_connector.update(query=query, new_values=new_values,table_name="students",database_name=database_name)

Record(s) updated in students where {'name': 'minali'}.

In [16]:
query = {'name': "John Doe", 'age': 50}
mysql_connector.delete(query=query,table_name='students',database_name='demo_1')

Record(s) deleted from students where {'name': 'John Doe', 'age': 50}.